<div class="auth">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6"><a class="active" href="#login">Login</a></li>
        <li class="tab col s6"><a href="#register">Registration</a></li>
      </ul>
    </div>
    <div id="login" class="col s6 offset-s3">

      {{#if loginError}}
        <p class="alert">{{loginError}}</p>
      {{/if}}

      <h2>Login in market</h2>
      <form action="/auth/login" method="post">
        <div class="input-field">
          <input
            name="email"
            id="email"
            type="email"
            class="validate"
            required
          />
          <label for="email">Email</label>
          <span class="helper-text" data-error="Email is required"></span>
        </div>
        <div class="input-field">
          <input
            name="password"
            id="password"
            type="password"
            class="validate"
            required
          />
          <label for="password">Password</label>
          <span class="helper-text" data-error="password is required"></span>
        </div>

        <input type="hidden" name="_csrf" value="{{csrf}}">

        <button class="btn btn-primary" type="submit">Login</button>
      </form>
    </div>
    <div id="register" class="col s6 offset-s3">

      {{#if registerError}}
        <p class="alert">{{registerError}}</p>
      {{/if}}

      <h2>Register in market</h2>
      <form action="/auth/register" method="post">
        <div class="input-field">
          <input
            name="email"
            id="remail"
            type="email"
            class="validate"
            required
          />
          <label for="remail">Email</label>
          <span class="helper-text" data-error="Email is required"></span>
        </div>

        <div class="input-field">
          <input
            name="password"
            id="rpassword"
            type="password"
            class="validate"
            required
          />
          <label for="rpassword">Password</label>
          <span class="helper-text" data-error="Password is required"></span>
        </div>

        <div class="input-field">
          <input
            name="confirm"
            id="confirm"
            type="password"
            class="validate"
            required
          />
          <label for="confirm">Password confirm</label>
          <span class="helper-text" data-error="Password is required"></span>
        </div>

        <div class="input-field">
          <input
            name="name"
            id="name"
            type="text"
            class="validate"
          />
          <label for="name">Your name</label>
          <span class="helper-text" data-error="Type name, please"></span>
        </div>

        <input type="hidden" name="_csrf" value="{{csrf}}">

        <button class="btn btn-primary" type="submit">Register</button>
      </form>
    </div>
  </div>
</div>
