
<div class="row">
  <div class="col s6 offset-s3">

    {{#if error}}
      <p class="alert">{{error}}</p>
    {{/if}}

    <h2>Create new password</h2>
    <form action="/auth/password" method="post">
      <div class="input-field">
        <input
          name="password"
          id="password"
          type="password"
          class="validate"
          required
        />
        <label for="password">New password</label>
        <span class="helper-text" data-error="Password is required"></span>
      </div>
 
      <input type="hidden" name="_csrf" value="{{csrf}}">
      <input type="hidden" name="userId" value="{{userId}}">
      <input type="hidden" name="token" value="{{token}}">

      <button class="btn btn-primary" type="submit">Save password</button>
    </form>
  </div>
</div>

